/vendor
/.idea
Homestead.json
Homestead.yaml
.env*
.phpunit.result.cache
.editorconfig
.styleci.yml
#README.md
#CHANGELOG.md
gulpfile.js
/.styleci.js
#.gitignore
storage
package.json
public/debug.txt
/.drone.yml
bootstrap/cache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/node_modules
/dist
/build
*.log
.DS_Store
.vscode/*
scripts/__pycache__
